.login-form {
   background-color: #F9F9F9;
   width:33.3%;
   position: absolute;
   top: 33.333%;
   left: 33.333%;
/*   background-color: rgba(0,0,0,.7);*/
   padding: 20px 30px;
   border: 5px groove white;
}

.form-group label {
	font-size: 1.333em;
	color: purple;
	font-family: "Times New Roman";
}

#carousel-example-generic {
	margin-top: -20px;
	height: 800px;
}

#carousel-example-generic button {
	left: 30%;
}

.item {
	height: 800px;
}

.item div {
	background-color: rgba(0,0,0,.5);
	font-size: 1.777em;
}

.main {
	height: 100%;
}

.hideMe {
    display: none;
}

body {
	background-color: white;
}

.aform {
   width:33.3%;
   position: absolute;
   top: 33.333%;
   left: 33.333%;
/*   background-color: rgba(0,0,0,.7);*/
   padding: 20px 30px;
   border: 5px groove white;
   list-style: none;
}

.moveup {
	top: 10%;
}

.movedown {
	top: 70%;
}

.movedown2 {
	top: 130%;
}


.center {
	text-align: center;
}

th, td
{
    padding:15px;
}

#table-3 {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
}
#table-3 td, #table-3 th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
#table-3 th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
#table-3 td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}

table {
    margin: 40px 0px;
}

.section {
    padding: 20px;
    border-bottom: 3px solid black;
}

.sectionNoBorder {
    padding: 20px;
}

.noStyle {
    list-style: none;
}

.margin40 {
    margin: 40px 0px;
}

.margin20 {
    margin: 20px 0px;
}