<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit Cards</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Registration Form -->
	  <div class="aform moveup">
	  	<h1 class="center">Add Credit Card Info</h1>
		  <form>
			  <div class="form-group">
			    <label for="exampleUsername1">Name on Card</label>
			    <input type="text" class="form-control" id="name" placeholder="Full Name">
			  </div>
			  <div class="form-group">
			    <label for="examplePassword1">Card Number</label>
			    <input type="text" class="form-control" id="cardNum" placeholder="Card Number">
			  </div>
			  <div class="form-group">
			    <label for="examplePassword1">Expiration Date</label>
			    <input type="text" class="form-control" id="01/16" placeholder="Expiration Date">
			  </div>
			  <div class="form-group">
			    <label for="examplePassword1">CVV</label>
			    <input type="text" class="form-control" id="Email1" placeholder="CVV">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

		<div class="aform movedown">
	  	<h1 class="center">Delete Credit Card Info</h1>
		  <form>
			  <div class="form-group">
				  <select class="form-control">
	            <option value="Atlanta">8219</option>
	        </select>
			  <button type="submit" class="btn btn-default">Remove</button>
			</form>
		</div>		
	<!-- END Registration Form -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>