@{
    Validation.RequireField("cardName", "Name on Card is required");
    Validation.RequireField("cardNum", "Credit Card Number is required");
    Validation.RequireField("cvv", "Card Verification Value (CVV) is required");
    Validation.RequireField("expDate", "Expiration Date is required");
    Validation.Add("cardNum", Validator.Regex("^\\d{16}$", "Credit Card Number must be 16 digits"));
      
    if(IsPost && Validation.IsValid() && Request["submit"] == "Insert" && DateTime.Parse(Request.Form["expDate"]) > DateTime.Now)
    {
        using (var db = Database.Open("cs4400_Group_86"))
        {
            db.Execute("INSERT INTO PaymentInfo (CUserName, cardNum, cvv, expiration, name) VALUES (@0, @1, @2, @3, @4)",
                Request.Cookies["UserName"].Value, Request.Form["cardNum"], Request.Form["cvv"], Request.Form["expDate"], Request.Form["cardName"]);
        }
    }
    else if (IsPost && Request["submit"] == "Delete")
    {
        using (var db = Database.Open("cs4400_Group_86"))
        {
            db.Execute("DELETE FROM PaymentInfo WHERE cardNum = @0", Request["cardList"]);
        }
        Response.Redirect("~/credit");
    }
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit Cards</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Registration Form -->
	  <div class="sectionNoBorder col-md-6">
	  	<h3 class="center">Add Credit Card Info</h3>
		  <form method="post">
			  <div class="form-group">
			    <label for="cardName">Name on Card</label>
			    <input type="text" class="form-control" id="cardName" name="cardName" />
			  </div>
			  <div class="form-group">
			    <label for="examplePassword1">Card Number</label>
			    <input type="text" class="form-control" id="cardNum" name="cardNum" placeholder="Card Number" />
			  </div>
			  <div class="form-group">
			    <label for="examplePassword1">Expiration Date</label>
			    <input type="date" class="form-control" id="expDate" name="expDate" placeholder="Expiration Date" />
			  </div>
			  <div class="form-group">
			    <label for="examplePassword1">CVV</label>
			    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="CVV" />
			  </div>
			  <input type="submit" class="btn btn-default" name="submit" value="Insert" />
              @Html.ValidationSummary(false)
			</form>
		</div>

		<div class="sectionNoBorder col-md-6">
	  	<h3 class="center">Delete Credit Card Info</h3>
		    <form class="margin40" method="post">
			  <div class="form-group">
				<select class="form-control" name="cardList">
	                @using (var db = Database.Open("cs4400_Group_86"))
                     {
                        foreach (var row in db.Query("SELECT cardNum FROM PaymentInfo WHERE CUserName = @0", Request.Cookies["UserName"].Value))
                        {
                            string lastFour = row.cardNum.ToString();
                            lastFour = "xxxx xxxx xxxx " + lastFour.Substring(lastFour.Length - 4);
                            <option value="@row.cardNum.ToString()">@lastFour</option>
                        }
                     }
	            </select>
              </div>
			  <input type="submit" class="btn btn-default" style ="margin-top: 20px" name="submit" value="Delete" />
			</form>
		</div>		
	<!-- END Registration Form -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>