@{
    DateTime startDate;
    using(var db = Database.Open("cs4400_Group_86"))
    {
        startDate = db.QuerySingle("SELECT start FROM Reservation WHERE reservationID = @0", UrlData.First()).start;
    }
    var DateDiff = (DateTime.Today - startDate).Days;
    var reservationStartDate = "SELECT start FROM Reservation WHERE reservationID = @0";
    var deleteReservation = "UPDATE Reservation SET cancelled = 1, cost = CASE " +
    "WHEN DATEDIFF(@1, @2) > 3 THEN 0" +
    "WHEN DATEDIFF(@1, @2) < 3 && DATEDIFF(@1, @2) > 1 THEN (0.2 * @0)" +
    "WHEN DATEDIFF(@1, @2) <= 1 THEN @0" +
    "END " +
    "WHERE reservationID = @3";

}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @if(DateDiff < 3) {
            <input type="submit" class="btn btn-default submit" value="Cancel">
        } else {        
        <p>Placeholder Text @UrlData.First()</p>
        }
    </body>
</html>
