@{
    var queryAvailable = "SELECT DISTINCT roomNum, category, numPeople, costPerDay, ExtraBedCost FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL RIGHT OUTER JOIN Room " +
        "WHERE Room.roomNum NOT IN (SELECT Room.roomNum FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL RIGHT OUTER JOIN Room " + 
                "WHERE (END >  @0 AND START < @1 AND cancelled = 0 AND location = @2)) " + 
        "AND location = @2 ORDER BY Room.roomNum";

    var deleteReservation = "UPDATE Reservation SET cancelled = 1 WHERE reservationID = @0";
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        Placeholder Text @UrlData.First()
    </body>
</html>
