<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Give Feedback</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Submit Feedback Form -->
		<div class="aform moveup">
		  <form>
			  <div class="form-group">
          <h3 class="center">Which location did you visit?</h3>
					<select class="form-control">
	            <option value="Atlanta">Atlanta</option>
	            <option value="Charlotte">Charlotte</option>
	            <option value="Savannah">Savannah</option>
	            <option value="Orlando">Orlando</option>
	            <option value="Miami">Miami</option>
	        </select>
          <h3 class="center">How would you rate it?</h3>
          <select class="form-control">
              <option value="Excellent">Excellent</option>
              <option value="Good">Good</option>
              <option value="Neutral">Neutral</option>
              <option value="Bad">Bad</option>
              <option value="Very Bad">Very Bad</option>
          </select>
            </div>
          <h3 class="center">Comment:</h3>
          <textarea class="form-control" rows="5" id="comment"></textarea>
			  <button type="submit" class="btn btn-default" style ="margin-top: 20px">Submit Review</button>
			</form>
		</div>		
	<!-- END Submit Feedback Form -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>