<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Main Page -->
 	  <div class="center aform">
        @if ((bool)Session["Management"])
        {
            <h3 class="center">Welcome,</h3>
            <h4 class="center">Available Reports</h4>
            <ul class="noStyle">
	            <li><a href="~/reservation_report">View Reservation Report</a></li>
	            <li><a href="~/popular_room_report">View Popular Room Category Report</a></li>
	            <li><a href="~/revenue_report">View Revenue Report</a></li>
            </ul>
        }
        else
        {
  		    <h3 class="center">Welcome,</h3>
            <h4 class="center">How can we help you today? </h4>
  		    <ul class="noStyle">
                <li><a href="~/credit">Update Credit Card Info</a></li>
	            <li><a href="~/search">Make a new Reservation</a></li>
	            <li><a href="~/update_reservation">Update a Reservation</a></li>
	            <li><a href="~/cancel_reservation">Cancel a Reservation</a></li>
	            <li><a href="~/give_review">Provide Feedback</a></li>
	            <li><a href="~/view_reviews">View Feedback</a></li>
            </ul>
        }
    <!-- END Main Page -->
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>