<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Make a Reservation</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Selection -->
 	  <div class="center section">
  		<h3>Choose Your Room</h3>
  		  <table id="table-3">
          <tr>
            <th>Room Number</th>
            <th>Room Category</th>
            <th>Max. Occupants</th>
            <th>Cost Per Day</th>
            <th>Extra Bed Cost</th>
            <th>Select Room</th>
          </tr>
        </table>
        <button type="submit" class="btn btn-default" action="" method="">Check Details</button>
	  </div>
    <!-- END Selection -->

    <!-- Details -->
    <div class="section hidden">
    <h3 class="center">Your Room Details</h3>
      <table id="table-3">
        <tr>
          <th>Room Number</th>
          <th>Room Category</th>
          <th>Max. Occupants</th>
          <th>Cost Per Day</th>
          <th>Extra Bed Cost</th>
          <th>Extra Bed</th>
        </tr>
      </table>
      <ul class="noStyle">
        <li>Start Date: </li>
        <li>End Date: </li>
        <li>Total Cost: </li>
      </ul>
      <p>Use Card:</p>
      <div class="col-md-4">
          <select class="form-control">
              <option value="credit">1234</option>
          </select>
      </div>
      <div class="col-md-4">
        <p><a href="credit.cshtml">Add Card</a><p>
      </div>
      <div class="col-md-4">
          <p> </p>
      </div>
      <button type="submit" class="btn btn-default" action="" method="">Submit</button>
    </div>
    <!-- Details -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>