@{
    string rooms = "";
    string beds = "";
  
    if (!Request["Rooms"].IsEmpty())
    {
        rooms = Request["Rooms"];
    }
    if (!Request["ExtraBed"].IsEmpty())
    {
        beds = Request["ExtraBed"];
    }
    List<string> roomList = new List<string>(rooms.Split(new char[]{','}));
    List<string> bedList = new List<string>(beds.Split(new char[]{','}));
}
<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirm Reservation</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
    <body>
        <h1>Confirm Reservation</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th><h2>Location: @Request["location"]</h2></th>
                    </tr>
                    <tr>
                        <th>Room #</th>
                        <th>Extra Bed</th>
                        <th>Category</th>
                        <th>Total Cost:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(string room in roomList)
                    {
                        <tr>
                            <td>@room</td>
                            @if(bedList.Exists(r => r == room))
                            {
                                <td>X</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>Some Category</td>
                            <td>TBD</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td>Total Reservation Cost:</td>
                        <td></td>
                        <td>TBD</td>
                    </tr>
                </tbody>
            
            
            </table>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
