@{
    var queryString = "SELECT b.month AS month, b.location AS location, b.category AS category, MAX(b.ResSum) AS Total " +
    "FROM (SELECT a.month, a.location, a.category, SUM(a.ResCount) AS ResSum " +
    "FROM (SELECT MONTHNAME(START) AS MONTH , location, category, COUNT( category ) AS ResCount " +
    "FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL JOIN Room WHERE cancelled = 0 GROUP BY location, MONTHNAME(START) , category " +
    "ORDER BY MONTHNAME(START) , location, category)a GROUP BY a.month, a.location, a.category)b GROUP BY b.month, b.location";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Popular Room-Category Report</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
	 	<!-- View Reservation Table -->
		<div class="sectionNoBorder">
      <h3>Popular Room-Category Report</h3>
      <table id="table-3">
        <tr>
          <th>Month</th>
          <th>Location</th>
          <th>Top Room Category</th>
          <th># of Reservations for Category</th>
        </tr>
          <tbody>
            @using(var db = Database.Open("cs4400_Group_86"))
            {
                foreach (var row in db.Query(queryString))
                {
                    <tr>
                        <td>@row.month</td>
                        <td>@row.location</td>
                        <td>@row.category</td>
                        <td>@row.Total</td>
                    </tr>
                }
            }
          </tbody>
      </table>   
    </div>	
	<!-- END View Reservation Table -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>