@{
    var queryString = "SELECT monthText, location, MAX(ResCount) AS reservationCount, category FROM " + 
    "(SELECT monthname(start) AS monthText, category, location, COUNT(category) AS ResCount FROM " + 
    "Reservation NATURAL JOIN ReservationHasRoom NATURAL JOIN Room GROUP BY category, location ORDER BY month(start)) AS ResCounter " +
    "GROUP BY location"; //Not finished, needs to show all months.
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Popular Room-Category Report</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
	 	<!-- View Reservation Table -->
		<div class="sectionNoBorder">
      <h3>Popular Room-Category Report</h3>
      <table id="table-3">
        <tr>
          <th>Month</th>
          <th>Top Room Category</th>
          <th>Location</th>
          <th># of Reservations for Category</th>
        </tr>
          <tbody>
            @using(var db = Database.Open("cs4400_Group_86"))
            {
                foreach (var row in db.Query(queryString))
                {
                    <tr>
                        <td>@row.monthText</td>
                        <td>@row.category</td>
                        <td>@row.location</td>
                        <td>@row.reservationCount</td>
                    </tr>
                }
            }
          </tbody>
      </table>   
    </div>	
	<!-- END View Reservation Table -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>