@{
    Validation.RequireField("Username1", "Must input a user name.");
    Validation.RequireField("Password1", "Must enter a password.");
    Validation.RequireField("confirmPassword1", "Must enter the password again.");
    Validation.RequireField("Email1", "Must enter an email.");

    var db = Database.Open("cs4400_Group_86");
    var userNameReg = Request.Form["Username1"];
    var passwordReg = Request.Form["Password1"];
    var passwordConfReg = Request.Form["confirmPassword1"];
    var emailReg = Request.Form["Email1"];
    bool valid = true; 
    
    if (IsPost && Validation.IsValid())
    {
        if (ModelState.IsValid)
        {
            if (userNameReg[0] != 'C') {
                valid = false;
                ModelState.AddError("CStart", "Usernames must start with a capital C.");
            }
            if (passwordReg != passwordConfReg) {
                valid = false;
                ModelState.AddError("NoPassMatch", "The passwords you entered do not match, please try again.");
            }
            int n;
            var temp = userNameReg.Substring(1);
            bool isNumeric = int.TryParse(temp, out n);
            if (isNumeric == false) {
                valid = false;
                ModelState.AddError("NonNumeric", "Username can only contain a C followed by numeric values.");
            }
            var row = db.QuerySingle("SELECT password FROM Customer WHERE cusername = @0", userNameReg);
            if (row != null) {
                valid = false;
                ModelState.AddError("ExistingUser", "This Username has already been taken, please try again.");
            }
            var row2 = db.QuerySingle("SELECT email FROM Customer WHERE email = @0", emailReg);
            if (row2 != null) {
                valid = false;
                ModelState.AddError("ExistingEmail", "This Email has already been registered, please try again.");
            }
            if (valid) 
            {
                var insertQuery = "INSERT INTO Customer (cusername, password, email) " +
                    "VALUES (@0, @1, @2)";
                db.Execute(insertQuery, userNameReg, passwordReg, emailReg);
                db.Close();
                Response.Redirect("~/Default");
            } 
        }
    }
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Registration Form -->
	  <div class="login-form moveup">
	  	<h1 class="center">Registration</h1>
		  <form method="post">
			  <div class="form-group">
			    <label for="Username1">Username</label>
			    <input type="text" class="form-control" id="Username1" name="Username1" placeholder="Username">
			  </div>
			  <div class="form-group">
			    <label for="Password1">Password</label>
			    <input type="password" class="form-control" id="Password1" name="Password1" placeholder="Password">
			  </div>
			  <div class="form-group">
			    <label for="Password2">Confirm Password</label>
			    <input type="password" class="form-control" id="confirmPassword1" name="confirmPassword1" placeholder="Confirm Password">
			  </div>
			  <div class="form-group">
			    <label for="Email1">Email</label>
			    <input type="text" class="form-control" id="Email1" name="Email1" placeholder="Email">
			  </div>
              @Html.ValidationSummary("Errors with your submission:")
			  <input type="submit" class="btn btn-default submit" value="Insert">
			</form>
		</div>
	<!-- END Registration Form -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>