@{
    //var db = Database.Open("cs4400_Group_86");
    var queryString = "SELECT monthname(start) AS Month, location AS Location, count(start) AS Reservations FROM Reservation " +
        "NATURAL JOIN ReservationHasRoom GROUP BY concat(month(start), location) ORDER BY Location";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservation Report</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
	 	<!-- View Reservation Table -->
		<div class="center aform">
      <h1>Reservation Report</h1>
      <table>
        <tr>
          <th>Month</th>
          <th>Location</th>
          <th>Total Number of Reservations</th>
        </tr>
          <tbody>
            @using(var db = Database.Open("cs4400_Group_86"))
            {
                foreach (var row in db.Query(queryString))
                {
                    <tr>
                        <td>@row.Month</td>
                        <td>@row.Location</td>
                        <td>@row.Reservations</td>
                    </tr>
                }
            }
          </tbody>
      </table>   
    </div>	
	<!-- END View Reservation Table -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>