@{
    var queryString = "SELECT MONTHNAME(START) AS MONTH , location, SUM(cost) AS Total FROM Reservation " +
        "NATURAL JOIN ReservationHasRoom NATURAL JOIN Room WHERE MONTHNAME(START) = 'August' OR MONTHNAME(START) = 'September' GROUP BY location, MONTHNAME(START) ORDER BY MONTH(START)," +
        "location";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Revenue Report</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
	 	<!-- View Revenue Table -->
		<div class="sectionNoBorder">
      <h3>Revenue Report</h3>
      <table id="table-3">
        <tr>
          <th>Month</th>
          <th>Location</th>
          <th>Total Revenue</th>
        </tr>
          <tbody>
            @using(var db = Database.Open("cs4400_Group_86"))
            {
                foreach (var row in db.Query(queryString))
                {
                    <tr>
                        <td>@row.MONTH</td>
                        <td>@row.location</td>
                        <td>@row.Total</td>
                    </tr>
                }
            }
          </tbody>
      </table>   
    </div>	
	<!-- END View Revenue Table -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>