<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update a Reservation</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Look up -->
 	  <div class="aform moveup">
      <h1 class="center">Enter your reservation number to update</h1>
      <form>
        <div class="form-group">
          <label for="reservationID">Reservation ID</label>
          <input type="text" class="form-control" id="reservationID" placeholder="12345">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <!-- END Look up -->

    <!-- New Dates -->
    <div class="center aform movedown">
      <h3>Old dates:</h3>
      <p>2015/12/03 to 2015/12/07</p>
      <h3>New dates:</h3>
      <div class="input-group input-daterange">
          <input type="text" class="form-control" value="2015/12/03">
          <span class="input-group-addon">to</span>
          <input type="text" class="form-control" value="2016/12/03">
      </div>
      <button type="submit" class="btn btn-default">Search Availability</button>
    </div>
    <!-- END New Dates -->

    <!-- Availibilities -->
    <div class="center aform movedown2">
      <table>
        <tr>
          <th>Room Number</th>
          <th>Room Category</th>
          <th>Max. Occupants</th>
          <th>Cost Per Day</th>
          <th>Extra Bed Cost</th>
          <th>Extra Bed</th>
        </tr>
      </table>
      <p>Updated Total Cost: </p>      
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <!-- END Availibilities -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>