<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Feedback</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Choose Location -->
		<div class="aform moveup">
	  	<h1 class="center">View a Hotel</h1>
		  <form>
			  <div class="form-group">
					<select class="form-control">
	            <option value="Atlanta">Atlanta</option>
	            <option value="Charlotte">Charlotte</option>
	            <option value="Savannah">Savannah</option>
	            <option value="Orlando">Orlando</option>
	            <option value="Miami">Miami</option>
	        </select>
			  <button type="submit" class="btn btn-default">Check Reviews</button>
			</form>
		</div>		
	<!-- END Choose Location -->

	 	<!-- View Feedback Table -->
		<div class="center aform movedown2">
      <table>
        <tr>
          <th>Rating</th>
          <th>Comment</th>
        </tr>
      </table>   
    </div>	
	<!-- END View Feedback Table -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>