<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <connectionStrings>
        <add connectionString="server=academic-mysql.cc.gatech.edu;database=cs4400_Group_86;uid=cs4400_Group_86;pwd=3WOyuV9w;Convert Zero Datetime=True; " name="cs4400_Group_86" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>